In [67]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import aws_psw

## Load and Clean Data

In [68]:
# Create Engine
db_string = f"postgresql://postgres:{aws_psw}@capstone.c9x4gosspizq.us-east-2.rds.amazonaws.com:5432/Flight_delays"
engine = create_engine(db_string)

In [69]:
# Load csvs from RDS database and concat to make one large one
months = ['sept','oct', 'nov', 'dec', 'jan', 'feb', 'mar', 'april', 'may', 'june', 'july', 'aug']
data_ls = []
for m in months:
    df = pd.read_csv(f'https://ellenbrafferty-bucket.s3.amazonaws.com/capstone_data/flight_blocks/flights_{m}.csv')
    data_ls.append(df)
    
year_fl_df = pd.concat(data_ls, axis = 0)

In [70]:
# clean flight data
ren_cols = {'OP_CARRIER_FL_NUM': 'FLIGHT_NUM', 'CRS_DEP_TIME': 'DEP_TIME', 'CRS_ARR_TIME': 'ARR_TIME'}
year_fl_df.rename(columns = ren_cols, inplace = True)
year_fl_df.replace(np.nan, 0, inplace = True)
float_cols = year_fl_df.select_dtypes(include=['floating']).columns.tolist()
year_fl_df.drop(columns = ['FLIGHT_NUM'], inplace = True)
year_fl_df[float_cols] = year_fl_df[float_cols].astype(int)

bad_cols =[col for col in year_fl_df.columns if 'Unnamed' in col]
year_fl_df.drop(columns = bad_cols, inplace = True)
year_fl_df.columns = year_fl_df.columns.str.lower()

In [72]:
for i,row in year_fl_df.iterrows():
        dep = row['dep_time']
        arr = row['arr_time']
        if dep < 800:
            row['dep_time'] = 1
        elif dep < 1100:
            row['dep_time'] = 2
        elif dep < 1400:
            row['dep_time'] = 3
        elif dep < 1700:
            row['dep_time'] = 4
        elif dep < 2000:
            row['dep_time'] = 5
        else:
            row['dep_time'] = 6
        
        if arr < 800:
            row['arr_time'] = 1
        elif arr < 1100:
            row['arr_time'] = 2
        elif arr < 1400:
            row['arr_time'] = 3
        elif arr < 1700:
            row['arr_time'] = 4
        elif arr < 2000:
            row['arr_time'] = 5
        else:
            row['arr_time'] = 6
            
for i, row in year_fl_df.iterrows():
    if row['arr_delay_group'] < 0:
        row['arr_delay_group'] = 0
    elif 0 <= row['arr_delay_group'] < 2:
        row['arr_delay_group'] = 1
    else:
        row['arr_delay_group'] = 2
            
final_flights = year_fl_df.copy()

In [73]:
# Load airport lookup table and clean
airports_df = pd.read_csv(f'https://ellenbrafferty-bucket.s3.amazonaws.com/capstone_data/airport_ids.csv')
bad_cols =[col for col in airports_df.columns if 'Unnamed' in col]
ren_cols = {'ORIGIN_AIRPORT_ID': 'AIRPORT_ID', 'ORIGIN':"AIRPORT_CODE", 'ORIGIN_CITY_NAME': 'CITY_NAME'}
airports_df.rename(columns = ren_cols, inplace = True)
airports_df.drop(columns = bad_cols, inplace = True)
airports_df.drop_duplicates(inplace = True, ignore_index = True)
airports_df.columns = airports_df.columns.str.lower()

In [74]:
# Load weekday lookup table and clean
weekdays_df = pd.read_csv(f'https://ellenbrafferty-bucket.s3.amazonaws.com/capstone_data/weekday_ids.csv')
bad_cols =[col for col in weekdays_df.columns if 'Unnamed' in col]
ren_cols = {'Description': 'Weekday'}
weekdays_df.rename(columns = ren_cols, inplace = True)
weekdays_df.drop(columns = bad_cols, inplace = True)
weekdays_df.columns = weekdays_df.columns.str.lower()

## Load Tables to Database

In [75]:
final_flights

,day_of_week,origin_airport_id,dest_airport_id,dep_time,arr_time,arr_delay_group
0,1,10693,12892,1,1,0
1,1,10693,12892,1,1,0
2,1,10693,14679,1,1,0
3,1,10713,13796,1,1,1
4,1,10713,13796,1,1,0
...,...,...,...,...,...,...
102740,7,14107,10800,1,1,1
102741,7,14107,10800,1,1,0
102742,7,14107,10800,1,1,1
102743,7,14107,10800,1,1,0
102744,7,14107,10800,1,1,0

In [76]:
weekdays_df.to_sql(name='weekdays', con=engine, if_exists = 'replace', index = False)

In [77]:
airports_df.to_sql(name='airports', con=engine, if_exists = 'replace', index = False)

In [78]:
final_flights.to_sql(name='flight_delays', con=engine, if_exists = 'replace', index = False)